In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("../DataSets/Social_Network.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [24]:
from sklearn.preprocessing import OrdinalEncoder

In [25]:
model = OrdinalEncoder()

In [31]:
data["Gender_tranformed"] = model.fit_transform(data[["Gender"]])

In [32]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased  Gender_tranformed
0  15624510    Male   19            19000          0                1.0
1  15810944    Male   35            20000          0                1.0
2  15668575  Female   26            43000          0                0.0
3  15603246  Female   27            57000          0                0.0
4  15804002    Male   19            76000          0                1.0

In [40]:
X = data[["Gender_tranformed", "Age",  "EstimatedSalary"]]
X.head()

   Gender_tranformed  Age  EstimatedSalary
0                1.0   19            19000
1                1.0   35            20000
2                0.0   26            43000
3                0.0   27            57000
4                1.0   19            76000

In [46]:
y = data["Purchased"]
type(y)

pandas.core.series.Series

In [48]:
from sklearn.model_selection import train_test_split

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)

In [82]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(280, 3) (120, 3) (280,) (120,)

In [84]:
from sklearn.svm import SVC

In [114]:
svcObj = SVC(kernel='linear')

In [ ]:
svcObj.fit(X_train, y_train)

In [ ]:
svcObj.support_

In [ ]:
y_pred = svcObj.predict(X_test)

In [ ]:
pd.DataFrame({"y predicted": y_pred, "y actual": y_test })

In [ ]:
svcObj.score(X_test, y_test)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(y_test, y_pred)