https://www.kaggle.com/code/addictedgt/cyclone-classification-using-pacific-data-set/notebook
Hurricans and Typhoons Classification.
Objectives:
1. Clean the data.
2. Statistical Analysis of data.
    Find Top ten hurricanes by frequency.
    Find frequency of hurricanes by month.
    Find frequency of hurricanes by year.
    Find frequency of hurricanes by category.
3. Classification into Hurricanes or Typhoons using Logistic Regression, Decision Tree, Random Forrest , Naive Bayes and SVM.
    Perform Feature selection using Random Forest.
    Compare the prediction by Decision Tree Model performance using all the features and top five features.
    Find the prediction accuracy of Random Forest Model model using the top five features.
    Compare the prediction by Naive Bayes Model performance using all the features and top five features.
    Find the prediction accuracy of SVM model using the top five features.
    Show which model has performed the best.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
data = pd.read_csv("DataSets/atlantic.csv")  #refer atlantic.pdf for description of each feature
data.head(10)

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
5,AL011851,UNNAMED,18510626,0,,HU,28.2N,97.0W,70,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
6,AL011851,UNNAMED,18510626,600,,TS,28.3N,97.6W,60,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
7,AL011851,UNNAMED,18510626,1200,,TS,28.4N,98.3W,60,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
8,AL011851,UNNAMED,18510626,1800,,TS,28.6N,98.9W,50,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
9,AL011851,UNNAMED,18510627,0,,TS,29.0N,99.4W,50,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [3]:
data.columns

Index(['ID', 'Name', 'Date', 'Time', 'Event', 'Status', 'Latitude',
       'Longitude', 'Maximum Wind', 'Minimum Pressure', 'Low Wind NE',
       'Low Wind SE', 'Low Wind SW', 'Low Wind NW', 'Moderate Wind NE',
       'Moderate Wind SE', 'Moderate Wind SW', 'Moderate Wind NW',
       'High Wind NE', 'High Wind SE', 'High Wind SW', 'High Wind NW'],
      dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49105 entries, 0 to 49104
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                49105 non-null  object
 1   Name              49105 non-null  object
 2   Date              49105 non-null  int64
 3   Time              49105 non-null  int64
 4   Event             49105 non-null  object
 5   Status            49105 non-null  object
 6   Latitude          49105 non-null  object
 7   Longitude         49105 non-null  object
 8   Maximum Wind      49105 non-null  int64
 9   Minimum Pressure  49105 non-null  int64
 10  Low Wind NE       49105 non-null  int64
 11  Low Wind SE       49105 non-null  int64
 12  Low Wind SW       49105 non-null  int64
 13  Low Wind NW       49105 non-null  int64
 14  Moderate Wind NE  49105 non-null  int64
 15  Moderate Wind SE  49105 non-null  int64
 16  Moderate Wind SW  49105 non-null  int64
 17  Moderate Wind NW  49105 non-null  int64
 18  High Wind NE      49105 non-null  int64
 19  High Wind SE      49105 non-null  int64
 20  High Wind SW      49105 non-null  int64
 21  High Wind NW      49105 non-null  int64
dtypes: int64(16), object(6)
memory usage: 8.2+ MB

In [10]:
data["Date"] = pd.to_datetime(data["Date"], format='%Y%m%d')
data.head()
data.columns

Index(['Date', 'Time', 'Status', 'Maximum Wind', 'Minimum Pressure',
       'Low Wind NE', 'Low Wind SE', 'Low Wind SW', 'Low Wind NW',
       'Moderate Wind NE', 'Moderate Wind SE', 'Moderate Wind SW',
       'Moderate Wind NW', 'High Wind NE', 'High Wind SE', 'High Wind SW',
       'High Wind NW'],
      dtype='object')

In [12]:
#drop all object type features
data.drop(["ID", "Name", "Event", "Latitude", "Longitude"], axis=1, inplace=True)

In [14]:
data.head()

,Date,Time,Status,Maximum Wind,Minimum Pressure,Low Wind NE,Low Wind SE,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,18510625,0,HU,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,18510625,600,HU,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,18510625,1200,HU,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,18510625,1800,HU,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,18510625,2100,HU,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [15]:
# Seperate independent and dependent variables
X = data.drop(["Status"], axis=1)
y = data.Status

In [16]:
print(X.shape, y.shape)

(49105, 16) (49105,)

In [17]:
# Train Test spli
from sklearn.model_selection import train_test_split

In [22]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3)

In [23]:
print(train_X.shape, test_X.shape, train_y.shape, test_y.shape)

(34373, 16) (14732, 16) (34373,) (14732,)

In [24]:
from sklearn.tree import DecisionTreeClassifier

In [25]:
decisionTreeObj = DecisionTreeClassifier()

In [26]:
decisionTreeObj.fit(train_X, train_y)

DecisionTreeClassifier()

In [28]:
predict_y = decisionTreeObj.predict(test_X)

In [29]:
from sklearn.metrics import confusion_matrix

In [48]:
confusion_matrix(test_y, predict_y)

array([[  18,    0,    0,    4,    0,    0,    7,    3,    0],
       [   0,  978,   54,    7,    4,   19,   82,  262,    0],
       [   0,   70, 4348,    0,    0,    0,    0,    0,    0],
       [   6,   10,    0,  236,    0,    0,   33,   12,    0],
       [   0,    0,    0,    0,   58,    0,   25,    0,    1],
       [   0,   10,    1,    2,    0,  109,    0,   46,    0],
       [   0,   82,    0,   46,   27,    0, 2803,    0,    7],
       [   2,  315,    0,    9,    0,   42,    0, 4958,    0],
       [   0,    0,    0,    3,    0,    0,   11,    0,   22]],
      dtype=int64)

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
accuracy_score(test_y, predict_y)

0.9184089057833288

In [52]:
## Just cross checking the accuracy score computed by API
sum=0
for i in range(9):
    sum = sum+ confusion_matrix(test_y, predict_y)[i][i]
    
print(sum/test_y.count())

0.9184089057833288