In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv("../DataSets/pacific.csv")
data.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26137 entries, 0 to 26136
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                26137 non-null  object
 1   Name              26137 non-null  object
 2   Date              26137 non-null  int64
 3   Time              26137 non-null  int64
 4   Event             26137 non-null  object
 5   Status            26137 non-null  object
 6   Latitude          26137 non-null  object
 7   Longitude         26137 non-null  object
 8   Maximum Wind      26137 non-null  int64
 9   Minimum Pressure  26137 non-null  int64
 10  Low Wind NE       26137 non-null  int64
 11  Low Wind SE       26137 non-null  int64
 12  Low Wind SW       26137 non-null  int64
 13  Low Wind NW       26137 non-null  int64
 14  Moderate Wind NE  26137 non-null  int64
 15  Moderate Wind SE  26137 non-null  int64
 16  Moderate Wind SW  26137 non-null  int64
 17  Moderate Wind NW  26137 non-null  int64
 18  High Wind NE      26137 non-null  int64
 19  High Wind SE      26137 non-null  int64
 20  High Wind SW      26137 non-null  int64
 21  High Wind NW      26137 non-null  int64
dtypes: int64(16), object(6)
memory usage: 4.4+ MB

In [12]:
data.drop(['ID', 'Name', 'Event', 'Latitude', 'Longitude'], inplace=True, axis=1)

In [13]:
X = data.drop(['Status'], axis=1)
y = data.Status

In [15]:
from sklearn.model_selection import train_test_split
trainx, testx, trainy, testy = train_test_split(X, y, test_size=0.33, random_state=5)

In [16]:
print(trainx.shape)
print(testx.shape)
print(trainy.shape)
print(testy.shape)

(17511, 16)
(8626, 16)
(17511,)
(8626,)

In [8]:
from sklearn.naive_bayes import GaussianNB

In [9]:
nbobj = GaussianNB()

In [18]:
nbobj.fit(trainx, trainy)

GaussianNB()

In [19]:
predicty = nbobj.predict(testx)

In [20]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix

In [21]:
accuracy_score(testy, predicty)

0.25898446556920934

In [22]:
balanced_accuracy_score(testy, predicty)

C:\Users\vijay\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1854: UserWarning: y_pred contains classes not in y_true
  warnings.warn('y_pred contains classes not in y_true')

0.4156312905877047

In [23]:
confusion_matrix(testy, predicty)

array([[  76,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0],
       [   0,   42,    0,    0,    0,    0,    0,    0,    0,    0,    1,
           1],
       [   5,   15,    0,    0,    0,    3,    2,    0,    0,    0,   11,
           0],
       [   0, 1219,    0,  870,    0,  175,    0,    0,    0,    7,    0,
           0],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    1,    0,
           0],
       [ 537,    4,    0,    0,    0,    9,    0,    1,    0,    0,   35,
           0],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0],
       [   0,    0,    0,    0,    0,    2,    0,    0,    1,    0,    0,
           0],
       [   0,    0,    0,    0,    0,    0,    0,    0,    0,    1,    0,
           0],
       [ 370, 1193,    0,    0,    0,    0,    0,    1,    0,    0,  716,
           0],
       [  32, 1758,    0,    1,    0,  656,    1,    2,    1,    0,  358,
         519]], dtype=int64)