In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'pandas'

In [3]:
data = pd.read_csv("../DataSets/Social_Network.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
from sklearn.preprocessing import OrdinalEncoder

In [6]:
model = OrdinalEncoder()

In [7]:
data["Gender_tranformed"] = model.fit_transform(data[["Gender"]])

In [8]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased  Gender_tranformed
0  15624510    Male   19            19000          0                1.0
1  15810944    Male   35            20000          0                1.0
2  15668575  Female   26            43000          0                0.0
3  15603246  Female   27            57000          0                0.0
4  15804002    Male   19            76000          0                1.0

In [9]:
X = data[["Gender_tranformed", "Age",  "EstimatedSalary"]]
X.head()

   Gender_tranformed  Age  EstimatedSalary
0                1.0   19            19000
1                1.0   35            20000
2                0.0   26            43000
3                0.0   27            57000
4                1.0   19            76000

In [10]:
y = data["Purchased"]
type(y)

pandas.core.series.Series

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)

In [13]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(280, 3) (120, 3) (280,) (120,)

In [14]:
from sklearn.svm import SVC

In [15]:
svcObj = SVC()

In [16]:
svcObj.fit(X_train, y_train)

SVC()

In [17]:
svcObj.support_

array([  4,   7,   9,  11,  14,  15,  17,  18,  20,  25,  27,  30,  33,
        36,  38,  42,  44,  47,  62,  73,  81,  87,  91,  95,  96, 100,
       104, 108, 112, 114, 117, 118, 122, 125, 127, 129, 133, 135, 142,
       143, 147, 148, 155, 158, 159, 160, 163, 167, 171, 174, 178, 179,
       182, 183, 185, 186, 188, 190, 196, 200, 205, 206, 218, 219, 221,
       222, 224, 225, 229, 231, 235, 247, 249, 263, 265, 270, 274, 275,
       277,   1,   3,   5,   6,  13,  16,  19,  22,  29,  32,  41,  43,
        45,  51,  57,  63,  65,  66,  76,  82,  83,  86,  93,  97,  99,
       105, 106, 107, 109, 110, 113, 115, 119, 121, 126, 131, 132, 136,
       137, 141, 146, 149, 157, 161, 162, 165, 166, 168, 172, 175, 181,
       192, 194, 195, 198, 199, 201, 203, 204, 209, 210, 213, 214, 216,
       220, 223, 227, 230, 234, 239, 241, 243, 251, 253, 254, 256, 264,
       267, 279])

In [18]:
y_pred = svcObj.predict(X_test)

In [19]:
pd.DataFrame({"y predicted": y_pred, "y actual": y_test })

     y predicted  y actual
218            0         0
191            0         0
117            0         0
50             0         0
348            0         0
..           ...       ...
157            0         0
325            0         0
224            0         0
240            1         1
227            1         1

[120 rows x 2 columns]

In [20]:
svcObj.score(X_test, y_test)

0.8166666666666667

In [21]:
from sklearn.metrics import confusion_matrix

In [22]:
confusion_matrix(y_test, y_pred)

array([[76,  2],
       [20, 22]], dtype=int64)